  <h1 style="font-family:jokerman; text-align:center">      
      / DAILY  -  HOROSCOPES \
  </h1>
  <hr>
  
      
  <h3 style="font-family:adobe arabic">Banyak astrolog yang memprediksi bahwa di tahun 2018 ini kehidupan penuh dengan tantangan. Ada beberapa zodiak yang diberkahi dengan sejumlah keberuntungan setelah satu atau dua tahun lalu dilanda kemalangan. Disamping hambatan dan kesulitan, sejumlah peluang emas akan tampak di depan mata, dan itu harus dimanfaatkan dengan sebaik-baiknya.</h3>
  <br>
  <h3 style="font-family:adobe arabic">Ketika harapan dan impian cintamu kandas, pasti kelak akan muncul harapan baru. Percayalah, Tuhan akan segera mengobati lukamu dari seseorang yang lebih menyayangi kamu</h3>  
  <br>
  <br>
  <h1 style="font-family:Rosewood Std Regular; text-align:center">SELAMAT DATANG</h1>
